<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcode.qixin.mapper.BetTypeSumMapper" >
  <resultMap id="BaseResultMap" type="com.dcode.qixin.model.BetTypeSum" >
    <id column="sys_id" property="sysId" jdbcType="INTEGER" />
    <result column="period_id" property="periodId" jdbcType="INTEGER" />
    <result column="play_type" property="playType" jdbcType="VARCHAR" />
    <result column="play_sum" property="playSum" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    sys_id, period_id, play_type, play_sum, created_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qx_bet_type_sum
    where sys_id = #{sysId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qx_bet_type_sum
    where sys_id = #{sysId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dcode.qixin.model.BetTypeSum" >
    insert into qx_bet_type_sum (sys_id, period_id, play_type, 
      play_sum, created_time, modify_time
      )
    values (#{sysId,jdbcType=INTEGER}, #{periodId,jdbcType=INTEGER}, #{playType,jdbcType=VARCHAR}, 
      #{playSum,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dcode.qixin.model.BetTypeSum" >
    insert into qx_bet_type_sum
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="periodId != null" >
        period_id,
      </if>
      <if test="playType != null" >
        play_type,
      </if>
      <if test="playSum != null" >
        play_sum,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysId != null" >
        #{sysId,jdbcType=INTEGER},
      </if>
      <if test="periodId != null" >
        #{periodId,jdbcType=INTEGER},
      </if>
      <if test="playType != null" >
        #{playType,jdbcType=VARCHAR},
      </if>
      <if test="playSum != null" >
        #{playSum,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcode.qixin.model.BetTypeSum" >
    update qx_bet_type_sum
    <set >
      <if test="periodId != null" >
        period_id = #{periodId,jdbcType=INTEGER},
      </if>
      <if test="playType != null" >
        play_type = #{playType,jdbcType=VARCHAR},
      </if>
      <if test="playSum != null" >
        play_sum = #{playSum,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sys_id = #{sysId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcode.qixin.model.BetTypeSum" >
    update qx_bet_type_sum
    set period_id = #{periodId,jdbcType=INTEGER},
      play_type = #{playType,jdbcType=VARCHAR},
      play_sum = #{playSum,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where sys_id = #{sysId,jdbcType=INTEGER}
  </update>

  <select id="selectPeriodBetTypeSum" resultMap="BaseResultMap" parameterType="com.dcode.qixin.model.BetTypeSum" >
    select
    <include refid="Base_Column_List" />
    from qx_bet_type_sum
    where period_id = #{periodId,jdbcType=INTEGER}
      and play_type = #{playType,jdbcType=VARCHAR}
  </select>

  <update id="addPeriodBetTypeSum" parameterType="com.dcode.qixin.model.BetTypeSum" >
    update qx_bet_type_sum
    set play_sum = play_sum + #{playSum,jdbcType=INTEGER}
    where sys_id = #{sysId,jdbcType=INTEGER}
  </update>

</mapper>